{% extends 'base.html' %}

{% block head %}
<title> Home Page </title>
{% endblock %}

{% block header %}
<h1> Home Page </h1>
{% endblock %}


{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<h3> Add a Blog Post </h3>
<form action="{{ url_for('homePage')}}", method = "POST">
    <div class="form-group">
      <label for="exampleInputUsername">Title: </label>
      {{ form.title(class='form-control', placeholder = 'Title')}}            
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Content: </label>
      {{ form.content(class='form-control', placeholder = 'Content', rows="5")}}
    </div>
    <div>
        {{ form.submit(class='button-login') }}
    </div>
    {{ form.csrf_token }}
</form>

<h1> Your follower's posts: </h1>
{% for followers in current_user.followed %}
    {% for post in followers.posts %}
    <div style="width:1450px; margin:0 auto;">
    <div class="card w-75">
        <div class="card-body">
            <a href="/profile/{{post.user.username}}"> {{ post.user.username }} </a>
            <h3 class="card-title"> {{ post.title }} </h5>
            <h5 class="card-text"> {{post.content }} </h5>
            <div class="card-footer text-muted"> Date posted: {{ post.date_posted }}</div>
        </div>
      </div>  
      <br/>
    {% endfor %}
{% endfor %}
{% endblock %}