{% extends 'base.html' %}

{% block head %}
<title> {{username}}'s Posts </title>
{% endblock %}

{% block header %}
<h1> {{username}}'s Posts </h1>
{% endblock %}

{% block body %}
{% for post in posts %}
<br />
<div style="width:1450px; margin:0 auto;">
    <div class="card w-75">
        <div class="card-body">
            <a href="/posts/{{post.user.username}}"> {{ post.user.username }} </a>
            <h3 class="card-title"> {{ post.title }} </h5>
            <h5 class="card-text"> {{post.content }} </h5>
            <div class="card-footer text-muted"> Date posted: {{ post.date_posted }}</div>
        </div>
        </div>  
</div>
<br/>
{% endfor %}
{% endblock %}