{% extends 'base.html' %}
{% block head %}
<title> {{username}}'s Profile </title>
{% endblock %}

{% block header %}
    {% if username == current_user.username %}
        <h1> Your Profile! </h1>
    {% else %}
        <h1> {{username}}'s Profile! </h1>
    {% endif  %}
{% endblock %}

{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<div class="row">
    <div class="col-sm-6" style="width:2000px; margin:0 auto;">
        <div class="card">
            <div class="card-header">
                {{ username }}
            </div>
            <div class="row card-body">
               <div class="col-sm-6">
                   <strong> Username: </strong> {{ username }}<br />
                   <strong> Followers: </strong> {{ user.followers.count()}} <br />
                   <strong> Following: </strong> {{ user.followed.count()}}
                   {% if username.id != current_user.username.id %}
                        {% if not current_user.is_following(user) %}
                            <a href="{{ url_for('follow', username=user.username) }}">Follow</a>
                        {% else %}
                            <a href="{{ url_for('homePage') }}">Unfollow</a>
                        {% endif %}
                   {% endif %}
                </div>
                {% if user.profile_picture %}
                <img width = "200px" src = "{{ url_for('static', filename='css/images/' + user.profile_picture)}}"/>
                {% else %}
                <img width = "200px" src = "{{ url_for('static', filename='css/images/default.jpeg')}}"/>
                {% endif %}
                {% if current_user == user %}
                    <a href="{{url_for('logout')}}" class="btn btn-secondary">Logout</a> 
                    &nbsp;&nbsp;
                    <a href="{{url_for('delete')}}" class="btn btn-danger">Delete Account</a>
                {% else %}
                    {% if not current_user.is_following(user) %}
                    <a class="btn btn-outline-primary me-1 flex-grow-1" href="{{ url_for('follow',username=username) }}">Follow</a>
                    {% else %}
                    <a class="btn btn-outline-primary me-1 flex-grow-1" href="{{ url_for('unfollow',username=username) }}">Unfollow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>

{% if username == current_user.username %}
    <h1> Your Blog Posts! </h1>
    {% else %}
    <h1> {{username}}'s Blog Posts! </h1>
{% endif  %}


{% for post in posts|sort(reverse=true, attribute='date_posted')%}
<div style="width:1450px; margin:0 auto;">
<div class="card w-75">
    <div class="card-body">
        <a href="/profile/{{post.user.username}}"> {{ post.user.username }} </a>
        <h3 class="card-title"> {{ post.title }} </h5>
        <h5 class="card-text"> {{post.content }} </h5>
        <div class="card-footer text-muted"> Date posted: {{ post.date_posted }}</div>
    </div>
  </div>  
  <br/>
{% endfor %}
{% endblock %}
