{% extends 'base.html' %}
{% block head %}
<title> Sign Up </title>
{% endblock %}

{% block header %}
<h1> Sign Up Page </h1>
{% endblock %}

{% block body %}
<form action="{{ url_for('createAccount')}}", method = "POST", enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleInputUsername">Username: </label>
      {{ form.username(class_='form-control', placeholder = 'Username', size=32)}}            
      {% for error in form.username.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% endfor %}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password: </label>
      {{ form.password(class_='form-control', placeholder = 'Password', size=32)}}
      {% for error in form.password.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% endfor %}
    </div>
    <div class="form-group">
        <label for="exampleInputConfirmPassword">Confirm Password: </label>
        {{ form.confirm_password(class_='form-control', placeholder = 'Confirm Password', size=32)}}
        {% for error in form.confirm_password.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Profile Picture: </label> 
        <br/>
        {{ form.profile_picture() }}
        {% for error in form.profile_picture.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
      </div>
    {{ form.submit(class = 'button-signUp') }}
    {{ form.csrf_token }}
  </form>
</div>
{% endblock %}