{% extends 'base.html' %}
{% block head %}
<title> Sign Up </title>
{% endblock %}

{% block header %}
<h1> Sign Up Page </h1>
{% endblock %}

{% block body %}
<div class="form">
    <form action="{{ url_for('createAccount')}}", method = "POST">
        <div>
            {{ form.username(class_='form-control', placeholder = 'Username', size=32)}}
            {% for error in form.username.errors %}
            <li>
                {{ error }}
            </li>
        {% endfor %}
    
        </div>
        <div>
            {{ form.password(class_='form-control', placeholder = 'Password', size=32)}}
            {% for error in form.password.errors %}
            <li>
                {{ error }}
            </li>
        {% endfor %}
    
        </div>
        <div>
            {{ form.confirm_password(class_='form-control', placeholder = 'Confirm Password', size=32)}}
            {% for error in form.confirm_password.errors %}
            <li>
                {{ error }}
            </li>
        {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
        {{ form.csrf_token }}
    </form>
</div>
{% endblock %}